@model IEnumerable<Demo.Models.OrderDetail>
@inject IHttpContextAccessor HttpContextAccesor

@{
    ViewData["Title"] = "Index";
    ViewBag.Userid = @HttpContextAccesor.HttpContext.Session.GetInt32("Userid");
    Layout = "HLayout";

}
@*<style>
    body {
        background-image: url('/images/Background1.jpg');
        background-position: top;
        /* background-repeat: no-repeat;*/
        /*background-attachment:fixed;
                    background-size:100% 100%;*/
    }
</style>*@

<h1>Your Order History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderMaster.Orderdate)
            </th>
            @*<th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (item.Userid == ViewBag.Userid)
            {
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                
                 <td>
                        <img src="/images/@item.Product.Image" alt="Image" height="100" width="100" />
                    </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
       
                @Html.DisplayFor(modelItem => item.OrderMaster.Orderdate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.OrderMaster.OrderMasterid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>*@
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.Orderid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Orderid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Orderid">Delete</a>
            </td>*@
        </tr>
        }
}
    </tbody>
</table>
